<img
  width="75%"
  style="margin-left: 25px"
  height="auto"
  src="../../../assets/ollang.jpeg"
  alt=""
/>
<table>
  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faFolderClosed"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>My Job Feed</td>
    <td></td>
  </tr>

  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faMagnifyingGlass"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Discover Jobs</td>
    <td></td>
  </tr>
  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faBookBookmark"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Saved Jobs</td>
    <td class="not">26+</td>
  </tr>
  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faEnvelope"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Proposal</td>
    <td></td>
  </tr>

  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faAddressBook"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>All Contracts</td>
    <td></td>
  </tr>

  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faCircleUser"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td style="font-weight: 900; color: black">Profile</td>
    <td class="not">4+</td>
  </tr>
  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faBookBookmark"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Transaction</td>
    <td></td>
  </tr>
  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faMoneyBill1"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Transaction</td>
    <td></td>
  </tr>
  <tr>
    <td>
      <fa-icon
        class="sidebar-icon"
        [icon]="faFileLines"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Reports</td>
    <td></td>
  </tr>
</table>
