<img
  width="75%"
  style="margin-left: 25px"
  height="auto"
  src="../../../assets/ollang.jpeg"
  alt=""
/>
<table class="ml-6 w-full font-normal text-gray-400">
  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faFolderClosed"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">My Job Feed</td>
    <td class="text-right"></td>
  </tr>

  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faMagnifyingGlass"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">Discover Jobs</td>
    <td class="text-right"></td>
  </tr>
  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faBookBookmark"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">Saved Jobs</td>
    <td
      class="ml-20 border-none py-1 px-2 bg-blue-600 rounded-3xl text-base text-white font-bold"
    >
      26+
    </td>
  </tr>
  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faEnvelope"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td>Proposal</td>
    <td></td>
  </tr>

  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faAddressBook"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">All Contracts</td>
    <td class="text-right"></td>
  </tr>

  <tr class="mt-5 flex items-center align-middle cursor-pointer">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faCircleUser"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right" style="font-weight: 900; color: black">
      <a href="/profile/1">Profile</a>
    </td>
    <td
      class="ml-28 border-none py-1 px-2 bg-blue-600 rounded-3xl text-base text-white font-bold"
    >
      4+
    </td>
  </tr>
  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faBookBookmark"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">Transaction</td>
    <td class="text-right"></td>
  </tr>
  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faMoneyBill1"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">Transaction</td>
    <td class="text-right"></td>
  </tr>
  <tr class="mt-5 flex items-center align-middle">
    <td class="text-left">
      <fa-icon
        class="text-xl mr-3"
        [icon]="faFileLines"
        [fixedWidth]="true"
      ></fa-icon>
    </td>
    <td class="text-right">Reports</td>
    <td class="text-right"></td>
  </tr>
</table>
