.content {
  background-color: #f8fafb;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  width: calc(100% - 280px);
  height: 100%;
}
.nav-bar {
  background-color: #f8fafb;
  top: 0;
  position: fixed;
  width: calc(100% - 280px);
  z-index: 555;
}
.container {
  position: absolute;
  padding: 65px 10px 10px 10px;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f8fafb;
  overflow-y: auto;
}
@media screen and (max-width: 1024px) {
  .nav-bar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .side-bar {
    padding: 70px 0 30px;
    width: 260px;
    box-shadow: 2px 0 10px #0002;
    opacity: 1;
    left: -350px;
    transition: all 0.2s;
  }

  .side-bar.active {
    z-index: 500;
    left: 0;
    opacity: 1;
  }
  .content {
    width: 100%;
    height: 100%;
  }
}
